@keyframes scaleWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
